# Loading the Packages required

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# for date difference calculation
from datetime import datetime
from dateutil import relativedelta

# for reviews section
import datetime as dt
from textblob import TextBlob

# for transportation
# import googlemaps

# for image
import cv2
import csv
import requests
from PIL import Image, ImageStat
from PIL import Image
from io import BytesIO
import shutil

# Loading Data

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df_listings = pd.read_csv('./drive/My Drive/BT4211/Project/Data/listings.csv')
df_reviews = pd.read_csv('./drive/My Drive/BT4211/Project/Data/reviews.csv')
df_calendar = pd.read_csv('./drive/My Drive/BT4211/Project/Data/calendar.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (43,61,62,94,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Create Panel Data from 2016 - 2018

In [0]:
# extract the year information
df_reviews['year'] = df_reviews.apply(lambda x: int(x['date'][0:4]), axis =1)
# filter for reviews that are done in 2016, 2017 and 2018
df_reviews = df_reviews[(df_reviews['year'] == 2016) | (df_reviews['year'] == 2017) | (df_reviews['year'] == 2018)]
# group by year and listing id, count for number of people reviewed for each listing
df_reviews_count = df_reviews.groupby(['year','listing_id']).aggregate({'listing_id':'count'})
df_reviews_count.rename(columns={'listing_id':'total_no_reviews'}, inplace = True)
df_reviews_count = df_reviews_count.reset_index(level=[0,1])
df_reviews_count.head()

   year  listing_id  total_no_reviews
0  2016        2539                 2
1  2016        2595                 1
2  2016        3330                 5
3  2016        3831                69
4  2016        5099                 7

In [0]:
# filter for the listings that are available since 2016
df_listings = df_listings.dropna(subset = ['host_since'])
df_listings['year'] = df_listings.apply(lambda x: int(x['host_since'][0:4]), axis = 1)
df_listings_2016 = df_listings[df_listings['year']<2016]
df_listings_2016 = df_listings_2016[['id','price']]
df_listings_2016['price'] = df_listings_2016.apply(lambda x: float((x['price'].replace('$','')).replace(',','')),axis=1)

# filter for the listings that are available since 2017
df_listings_2017 = df_listings[df_listings['year']<2017]
df_listings_2017 = df_listings_2017[['id','price']]
df_listings_2017['price'] = df_listings_2017.apply(lambda x: float((x['price'].replace('$','')).replace(',','')),axis=1)

# filter for the listings that are available since 2018
df_listings_2018 = df_listings[df_listings['year']<2018]
df_listings_2018 = df_listings_2018[['id','price']]
df_listings_2018['price'] = df_listings_2018.apply(lambda x: float((x['price'].replace('$','')).replace(',','')),axis=1)

In [0]:
print('number of hosts 2016:' , str(len(df_listings_2016)))
print('number of hosts 2017:' , str(len(df_listings_2017)))
print('number of hosts 2018:' , str(len(df_listings_2018)))

number of hosts 2016: 31919
number of hosts 2017: 38791
number of hosts 2018: 43606

In [0]:
df_reviews_count_2016 = df_reviews_count[df_reviews_count['year'] == 2016]
df_reviews_count_2017 = df_reviews_count[df_reviews_count['year'] == 2017]
df_reviews_count_2018 = df_reviews_count[df_reviews_count['year'] == 2018]

df_stay_combined_2016= pd.merge(df_reviews_count_2016, df_listings_2016, left_on = 'listing_id', right_on = 'id', how = 'outer')
df_stay_combined_2017= pd.merge(df_reviews_count_2017, df_listings_2017, left_on = 'listing_id', right_on = 'id', how = 'outer')
df_stay_combined_2018= pd.merge(df_reviews_count_2018, df_listings_2018, left_on = 'listing_id', right_on = 'id', how = 'outer')

df_stay_combined_2016['year'].fillna(2016, inplace=True)
df_stay_combined_2017['year'].fillna(2017, inplace=True)
df_stay_combined_2018['year'].fillna(2018, inplace=True)

df_stay_combined = pd.concat([df_stay_combined_2016,df_stay_combined_2017,df_stay_combined_2018])

In [0]:
print('before dropping NAs: ', str(len(df_stay_combined)))

before dropping NAs:  121553

In [0]:
df_stay_combined['total_no_reviews'].fillna(0, inplace=True)
df_stay_combined = df_stay_combined.dropna(subset = ['id'])
df_stay_combined['listing_id'] = df_stay_combined ['id']
df_stay_combined = df_stay_combined.drop(columns = ['id'])
df_stay_combined.head()

     year  listing_id  total_no_reviews  price
0  2016.0      2539.0               2.0  149.0
1  2016.0      2595.0               1.0  225.0
2  2016.0      3330.0               5.0   70.0
3  2016.0      3831.0              69.0   89.0
4  2016.0      5099.0               7.0  185.0

In [0]:
print('after dropping NAs: ', str(len(df_stay_combined)))

after dropping NAs:  114316

In [0]:
def cal_nights_stay(x):
    result = 6.4*2*x['total_no_reviews']
    if result > 365:
        return 365
    return result

In [0]:
df_stay_combined['total_nights'] = df_stay_combined.apply(lambda x: cal_nights_stay(x), axis=1)
df_stay_combined['occupancy_rate'] = df_stay_combined['total_nights']/365

In [0]:
df_stay_combined_nonfiltered = df_stay_combined
df_stay_combined = df_stay_combined[df_stay_combined['total_no_reviews'] != 0]

In [0]:
# distribution when the cases where 'total no of reviews = 0' are not taken out
df_stay_combined_nonfiltered.groupby(['year']).aggregate({'listing_id':'count', 'occupancy_rate': 'mean'})

        listing_id  occupancy_rate
year
2016.0       31919        0.137676
2017.0       38791        0.172902
2018.0       43606        0.247708

In [0]:
len(df_stay_combined_nonfiltered)

114316

In [0]:
# distribution when the cases where 'total no of reviews = 0' are taken out
df_stay_combined.groupby(['year']).aggregate({'listing_id':'count', 'occupancy_rate': 'mean'})

        listing_id  occupancy_rate
year
2016.0       12320        0.356695
2017.0       17141        0.391286
2018.0       25015        0.431803

In [0]:
df_stay_combined.describe()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate
count,54476.000000,5.447600e+04,54476.000000,54476.000000,54476.000000,54476.000000
mean,2017.233038,1.246576e+07,14.542074,140.642430,146.754923,0.402068
std,0.794388,8.351323e+06,17.606843,160.989967,133.512247,0.365787
min,2016.000000,2.539000e+03,1.000000,0.000000,12.800000,0.035068
25%,2017.000000,4.936254e+06,2.000000,70.000000,25.600000,0.070137
50%,2017.000000,1.234527e+07,7.000000,109.000000,89.600000,0.245479
75%,2018.000000,1.924667e+07,21.000000,170.000000,268.800000,0.736438
max,2018.000000,3.120162e+07,250.000000,10000.000000,365.000000,1.000000

# Competitive factors variables
**Fixed effects:** based on the big neighbourhoods (5 neighbourhoods), accounts for the unobserved variables in the big neighbourhoods
<br>
**FTE:** Calculate Number of listings in each small neighbourhoods

In [0]:
df_stay_combined= pd.merge(df_stay_combined, df_listings[['id', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed','latitude', 'longitude']], how = 'left', left_on = 'listing_id', right_on = 'id')

In [0]:
df_stay_combined = df_stay_combined.drop(columns = ['id'])
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500

In [0]:
df_neighbourhood_count = df_stay_combined.groupby(['year', 'neighbourhood_cleansed']).aggregate({'listing_id':'count'})
df_neighbourhood_count = df_neighbourhood_count.reset_index(level=[0,1])

# house count is the number of listings in the small neighbourhood
df_neighbourhood_count = df_neighbourhood_count.rename(index = str, columns = {'listing_id':"houses_count"})
df_neighbourhood_count.head()

     year neighbourhood_cleansed  houses_count
0  2016.0               Allerton            12
1  2016.0               Arrochar             3
2  2016.0                Arverne            19
3  2016.0                Astoria           236
4  2016.0      Battery Park City            10

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_neighbourhood_count, on = ['year', 'neighbourhood_cleansed'], how = 'left')
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,houses_count
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,52
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,249
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,1144
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,198
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,69

# Transportation
**FTE 1:** distance to major exchange trains station
<br>
**FTE 2:** distance to main tourist attraction / city center

In [0]:
# API_key = 'AIzaSyBxxMlTtvSPHmvrqWacyIm-c7aSYINS7Q8'#enter Google Maps API key
# gmaps = googlemaps.Client(key=API_key)
# df_stay_combined['oris'] = df_stay_combined['latitude'].astype(str) + ',' + df_stay_combined['longitude'].astype(str)

In [0]:
# ctrl_park = "40.7829, -73.9654"
# df_stay_combined['dist_to_ctrl_park'] = df_stay_combined.apply(lambda row: gmaps.distance_matrix(row['oris'], ctrl_park, mode='walking')["rows"][0]["elements"][0]["distance"]["value"],axis=1)

In [0]:
# df_loc=df_listings[['id','latitude','longitude','neighbourhood_group_cleansed']]

In [0]:
# df_loc['oris'] = df_loc['latitude'].astype(str) + ',' + df_loc['longitude'].astype(str)

In [0]:
# Manhanttan
# West 4 St-Washington Sq (A,B,C,D,E,F,M)
# wston_sq= "40.732254493367876,-74.00030814755975"
# df_manhattan = df_loc[df_loc['neighbourhood_group_cleansed']=="Manhattan"]
# df_manhattan['dist_to_stn'] = df_manhattan.apply(lambda row:gmaps.distance_matrix(row['oris'], wston_sq, mode='walking')["rows"][0]["elements"][0]["distance"]["value"],axis=1)

In [0]:
# Brooklyn
# Atlantic Av-Barclays Ctr 
# atlan="40.68442016526762,-73.97754993539385"
# df_brooklyn=df_loc[df_loc['neighbourhood_group_cleansed']=="Brooklyn"]
# df_brooklyn['dist_to_stn'] = df_manhattan.apply(lambda row:gmaps.distance_matrix(row['oris'], atlan, mode='walking')["rows"][0]["elements"][0]["distance"]["value"],axis=1)

In [0]:
# Queens
#Forest Hills-71 Av (E,F,M,R)
# fh="40.72159430953587,-73.84451672012669"
# df_queen=df_ls[df_ls['neighbourhood_group_cleansed']=="Queens"]
# df_queen['dist_to_stn'] = df_queen.apply(lambda row:gmaps.distance_matrix(row['oris'], fh, mode='walking')["rows"][0]["elements"][0]["distance"]["value"],axis=1)

In [0]:
# Bronx
# Yankee Stadium
# df_bronx=df_bronx[df_bronx['neighbourhood_group_cleansed']=="Bronx"]
# yank_stad= (40.82823032742169,-73.92569199505733)
# df_bronx['dist_to_stn'] = df_bronx.apply(lambda row:geopy.distance.vincenty(row['cord'], yank_stad).km,axis=1)

In [0]:
# Sta
# st.george station
# st_george="40.6440,-74.0733"
# df_si=df_ls[df_ls['neighbourhood_group_cleansed']=="Staten Island"]
# df_si['dist_to_stn'] = df_si.apply(lambda row:gmaps.distance_matrix(row['oris'],st_george ,mode='walking')["rows"][0]["elements"][0]["distance"]["value"],axis=1)

In [0]:
# concat all the neighbour groups
# df_combined=pd.concat([df_manhattan,df_brooklyn,df_queen,df_bronx,df_si],axis=0)
# df_combined=df_combined[['id','dist_to_stn']]
# df_combined.to_csv("df_distance_to_interchange.csv")

In [0]:
df_distance_to_interchange=pd.read_csv('./drive/My Drive/BT4211/Project/Data/df_distance_to_interchange (1).csv')
df_dist_to_ctrl_park=pd.read_csv('./drive/My Drive/BT4211/Project/Data/df_dist_to_ctrl_park.csv')

In [0]:
df_distance_to_interchange = df_distance_to_interchange.drop_duplicates(subset = ['id'])
df_dist_to_ctrl_park = df_dist_to_ctrl_park.drop_duplicates(subset = ['id'])

In [0]:
df_stay_combined=pd.merge(df_stay_combined,df_distance_to_interchange[['id', 'dist_to_stn']],left_on = 'listing_id', right_on="id",how="left")
df_stay_combined = df_stay_combined.drop(columns = ['id'])

df_stay_combined=pd.merge(df_stay_combined,df_dist_to_ctrl_park[['id', 'dist_to_ctrl_park']],left_on = 'listing_id', right_on="id",how="left")
df_stay_combined = df_stay_combined.drop(columns = ['id'])

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,houses_count,dist_to_stn,dist_to_ctrl_park
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,52,4754.0,17279.0
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,249,2753.0,4035.0
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,1144,5155.0,11154.0
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,198,1674.0,13642.0
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,69,3541.0,4769.0

# Amenities (Product Attributes)
**FTE 1:** Aggregation, grouping based on different categories that you are able to justify the rationale of grouping (assigning a score for each category, normalized from 0 to 1)
<br>
Keep to about 10 for amenities, (e.g. food related, child related)

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_listings[['id','amenities']], how = 'left', left_on = 'listing_id',right_on ='id')
df_stay_combined = df_stay_combined.drop(columns = ['id'])

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,houses_count,dist_to_stn,dist_to_ctrl_park,amenities
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,52,4754.0,17279.0,"{TV,""Cable TV"",Internet,Wifi,""Wheelchair acces..."
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,249,2753.0,4035.0,"{TV,Wifi,""Air conditioning"",Kitchen,""Paid park..."
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,1144,5155.0,11154.0,"{TV,Internet,Wifi,""Wheelchair accessible"",Kitc..."
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,198,1674.0,13642.0,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning..."
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,69,3541.0,4769.0,"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Buzzer/w..."

In [0]:
df_stay_combined['number_of_amenities'] = df_stay_combined['amenities'].apply(lambda x: x.count(","))+1

In [0]:
df_stay_combined['amenities']= df_stay_combined['amenities'].str.replace('\"','')
df_stay_combined['amenities'] = df_stay_combined['amenities'].apply(lambda x: x[1:-1])

In [0]:
longlist=[row.split(",") for row in df_stay_combined['amenities']]
df_stay_combined["amenities"] = pd.Series(longlist)

In [0]:
basiclist = ["Toilet","Air conditioning","Bed linens","Essentials","Hangers","Washer","Dryer","Heating","Iron","Wifi","Hot water"]
bathroomlist = ['Bathtub','Bathtub with bath chair',"Hair dryer","Shampoo"]
kitchenlist = ['Microwave','Kitchen','Oven','Stove','Refrigerator','Full kitchen',"Cooking basics","Dishes and silverware","Dishwasher"] 
childrenlist = ['Baby bath','Baby monitor',"Family/kid friendly",'Children’s books and toys','Babysitter recommendations','Children’s dinnerware','Crib','High chair','Window guards','Pack ’n Play/travel crib', 'Changing table'] 
conveniencelist = ['24-hour check-in','Building staff','Buzzer/wireless intercom','Self check-in',"Elevator","Free street parking"]                       
safetylist = ['Lock on bedroom door','Smoke detector','Carbon monoxide detector',"First aid kit"]
leisurelist = ['BBQ grill','Cable TV',"Beach essentials","Breakfast",'Coffee maker']

In [0]:
def count_proportion(row,which_list):
    counter=0
    for i in row:
        if i in which_list:
            counter+=1
    total_length = len(which_list)
    return (counter/total_length)

In [0]:
df_stay_combined['basic_amenity']=df_stay_combined['amenities'].apply(lambda x: count_proportion(x,basiclist))
df_stay_combined['bathroom_amenity']=df_stay_combined['amenities'].apply(lambda x: count_proportion(x,bathroomlist))
df_stay_combined['kitchen_amenity']=df_stay_combined['amenities'].apply(lambda x: count_proportion(x,kitchenlist))
df_stay_combined['children_amenity']=df_stay_combined['amenities'].apply(lambda x: count_proportion(x,childrenlist))
df_stay_combined['convenience_amenity']=df_stay_combined['amenities'].apply(lambda x: count_proportion(x,conveniencelist))
df_stay_combined['safety_amenity']=df_stay_combined['amenities'].apply(lambda x: count_proportion(x,safetylist))
df_stay_combined['leisure_amenity']=df_stay_combined['amenities'].apply(lambda x: count_proportion(x,leisurelist))

In [0]:
dictionary = {}

def count_amenities(data):
    for row in data:
        for mode in row:
            if mode not in dictionary:
                dictionary[mode] = 1
            else:
                dictionary[mode] = dictionary.get(mode) + 1
    return dictionary

each_amenity = count_amenities(df_stay_combined['amenities'])

In [0]:
amenities_count_dataframe = pd.DataFrame.from_dict(each_amenity,orient = 'index')
amenities_count_dataframe = amenities_count_dataframe.rename(columns ={0:"count of amenity"})
amenities_count_dataframe = amenities_count_dataframe.sort_values(by = "count of amenity", ascending= False)

In [0]:
amenities_count_dataframe.head()

                count of amenity
Wifi                       53788
Heating                    52192
Essentials                 51634
Kitchen                    50584
Smoke detector             48191

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,dist_to_ctrl_park,amenities,number_of_amenities,basic_amenity,bathroom_amenity,kitchen_amenity,children_amenity,convenience_amenity,safety_amenity,leisure_amenity
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,17279.0,"[TV, Cable TV, Internet, Wifi, Wheelchair acce...",44,0.818182,0.50,0.777778,0.000000,0.833333,0.75,0.4
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,4035.0,"[TV, Wifi, Air conditioning, Kitchen, Paid par...",36,0.727273,0.75,0.666667,0.090909,0.333333,0.75,0.2
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,11154.0,"[TV, Internet, Wifi, Wheelchair accessible, Ki...",25,0.636364,0.50,0.111111,0.000000,0.500000,0.75,0.0
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,13642.0,"[TV, Cable TV, Internet, Wifi, Air conditionin...",31,0.636364,0.75,0.111111,0.363636,0.500000,0.75,0.2
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,4769.0,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...",22,0.636364,0.50,0.111111,0.000000,0.166667,0.50,0.2

# Review
**FTE 1**: Percentage of reviews for certain keywords - transport, keywords.
<br>
**FTE 2:** Number of reviews available when making the bookings
<br>
**FTE 3:** Rating Scores from the listings dataset

## **FTE 1:** 
Percentage of reviews for certain keywords - transport, keywords.

In [0]:
df_reviews["date"] = pd.to_datetime(df_reviews["date"])
reviews_1618 = df_reviews[(df_reviews["date"] >= dt.date(2016, 1, 1)) & (df_reviews["date"] < dt.date(2019, 1, 1))]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [0]:
def get_sentiment(text):
    try:
        return(TextBlob(text))
    except Exception as e:
        return(TextBlob(" "))

In [0]:
# Each word in the lexicon has scores for:
# 1)     polarity: negative vs. positive    (-1.0 => +1.0)
# 2) subjectivity: objective vs. subjective (+0.0 => +1.0)
# 3)    intensity: modifies next word?      (x0.5 => x2.0)

# reviews_1618["Polarity"] = reviews_1618.apply(lambda row: get_sentiment(row["comments"]).sentiment.polarity, axis=1)
# reviews_1618["Subjectivity"] = reviews_1618.apply(lambda row: get_sentiment(row["comments"]).sentiment.subjectivity, axis=1)

In [0]:
#reviews_1618["year"] = reviews_1618.apply(lambda row: row["date"].year, axis = 1)

In [0]:
# reviews_1618.to_csv('./drive/My Drive/BT4211/Project/Data/Reviews_fte_1618.csv')
reviews_1618 = pd.read_csv('./drive/My Drive/BT4211/Project/Data/Reviews_fte_1618.csv')

In [0]:
reviews_1618_drop0 = reviews_1618[(reviews_1618['Polarity'] != 0) & (reviews_1618['Subjectivity'] != 0)]

In [0]:
df_review_group = reviews_1618.groupby(['year', 'listing_id']).aggregate({'Polarity': ['std', 'mean'],
                                                                         'Subjectivity': ['std', 'mean']})
df_review_group.head()

                 Polarity           Subjectivity
                      std      mean          std      mean
year listing_id
2016 2539        0.017999  0.492727     0.133065  0.724091
     2595             NaN  0.403676          NaN  0.654248
     3330        0.281180  0.342620     0.293252  0.514797
     3831        0.255228  0.333297     0.242886  0.524803
     5099        0.225847  0.312244     0.135405  0.580588

In [0]:
df_review_group.columns = [' '.join(col).strip() for col in df_review_group.columns.values]
df_review_group = df_review_group.reset_index(level=[0,1])
df_review_group['Polarity std'].fillna(0, inplace=True)
df_review_group['Subjectivity std'].fillna(0, inplace=True)
df_review_group.head()

,year,listing_id,Polarity std,Polarity mean,Subjectivity std,Subjectivity mean
0,2016,2539,0.017999,0.492727,0.133065,0.724091
1,2016,2595,0.000000,0.403676,0.000000,0.654248
2,2016,3330,0.281180,0.342620,0.293252,0.514797
3,2016,3831,0.255228,0.333297,0.242886,0.524803
4,2016,5099,0.225847,0.312244,0.135405,0.580588

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_review_group, on = ['year', 'listing_id'], how = 'left')
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,bathroom_amenity,kitchen_amenity,children_amenity,convenience_amenity,safety_amenity,leisure_amenity,Polarity std,Polarity mean,Subjectivity std,Subjectivity mean
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,0.50,0.777778,0.000000,0.833333,0.75,0.4,0.017999,0.492727,0.133065,0.724091
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,0.75,0.666667,0.090909,0.333333,0.75,0.2,0.000000,0.403676,0.000000,0.654248
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,0.50,0.111111,0.000000,0.500000,0.75,0.0,0.281180,0.342620,0.293252,0.514797
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,0.75,0.111111,0.363636,0.500000,0.75,0.2,0.255228,0.333297,0.242886,0.524803
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,0.50,0.111111,0.000000,0.166667,0.50,0.2,0.225847,0.312244,0.135405,0.580588


## **FTE 2:** 
Number of reviews available when making the bookings

In [0]:
df_reviews_when_booking = pd.merge(df_stay_combined[['year','listing_id']], df_listings[['id', 'number_of_reviews']], left_on = 'listing_id',
                                  right_on = 'id', how = 'left')
df_reviews_when_booking  = df_reviews_when_booking .drop(columns = ['id'])

In [0]:
df_reviews_count_1619 = df_reviews_count[df_reviews_count['year'] > 2015].groupby(['listing_id']).aggregate({'listing_id':'count'})
df_reviews_count_1719 = df_reviews_count[df_reviews_count['year'] > 2016].groupby(['listing_id']).aggregate({'listing_id':'count'})
df_reviews_count_1819 = df_reviews_count[df_reviews_count['year'] > 2017].groupby(['listing_id']).aggregate({'listing_id':'count'})

df_reviews_count_1619['year'] = 2016
df_reviews_count_1719['year'] = 2017
df_reviews_count_1819['year'] = 2018

df_reviews_count_1619.rename(columns={'listing_id': 'review_count'}, inplace=True)
df_reviews_count_1719.rename(columns={'listing_id': 'review_count'}, inplace=True)
df_reviews_count_1819.rename(columns={'listing_id': 'review_count'}, inplace=True)

df_reviews_count_1619 = df_reviews_count_1619.reset_index()
df_reviews_count_1719 = df_reviews_count_1719.reset_index()
df_reviews_count_1819 = df_reviews_count_1819.reset_index()

df_reviews_count = pd.concat([df_reviews_count_1619, df_reviews_count_1719, df_reviews_count_1819])

In [0]:
df_reviews_count.head()

   listing_id  review_count  year
0        2539             3  2016
1        2595             3  2016
2        3330             3  2016
3        3831             3  2016
4        5022             1  2016

In [0]:
df_reviews_when_booking = pd.merge(df_reviews_when_booking, df_reviews_count, on = ['year','listing_id'], how = 'left')

In [0]:
def cal_review_booking(x):
  result = x['number_of_reviews'] - x['review_count']
  
  if result < 0:
    return 0
  
  return result

df_reviews_when_booking['review_when_booking'] = df_reviews_when_booking.apply(lambda x: cal_review_booking(x), axis = 1)
df_reviews_when_booking.head()

     year  listing_id  number_of_reviews  review_count  review_when_booking
0  2016.0      2539.0                  9             3                  6.0
1  2016.0      2595.0                 43             3                 40.0
2  2016.0      3330.0                 39             3                 36.0
3  2016.0      3831.0                239             3                236.0
4  2016.0      5099.0                 70             3                 67.0

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_reviews_when_booking[['listing_id', 'review_when_booking', 'year']], on = ['year', 'listing_id'],
                           how = 'left')
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,kitchen_amenity,children_amenity,convenience_amenity,safety_amenity,leisure_amenity,Polarity std,Polarity mean,Subjectivity std,Subjectivity mean,review_when_booking
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,0.777778,0.000000,0.833333,0.75,0.4,0.017999,0.492727,0.133065,0.724091,6.0
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,0.666667,0.090909,0.333333,0.75,0.2,0.000000,0.403676,0.000000,0.654248,40.0
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,0.111111,0.000000,0.500000,0.75,0.0,0.281180,0.342620,0.293252,0.514797,36.0
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,0.111111,0.363636,0.500000,0.75,0.2,0.255228,0.333297,0.242886,0.524803,236.0
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,0.111111,0.000000,0.166667,0.50,0.2,0.225847,0.312244,0.135405,0.580588,67.0

## **FTE 3:** 
Rating Scores from the listings dataset

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_listings[['id','review_scores_rating', 'review_scores_accuracy','review_scores_cleanliness', 
                                                           'review_scores_checkin','review_scores_communication', 'review_scores_location',
                                                           'review_scores_value']], left_on = 'listing_id', right_on = 'id', how = 'left')
df_stay_combined = df_stay_combined.drop(columns = ['id'])

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,Subjectivity std,Subjectivity mean,review_when_booking,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,0.133065,0.724091,6.0,98.0,10.0,10.0,10.0,10.0,10.0,10.0
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,0.000000,0.654248,40.0,95.0,9.0,9.0,10.0,10.0,10.0,9.0
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,0.293252,0.514797,36.0,97.0,10.0,10.0,10.0,10.0,10.0,10.0
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,0.242886,0.524803,236.0,90.0,10.0,9.0,10.0,10.0,10.0,9.0
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,0.135405,0.580588,67.0,88.0,10.0,9.0,10.0,10.0,9.0,9.0

# Experience of the host
<br>
**FTE 1:** First - last review, the duration which is a good indication of how long the particular listing has been hosting guests thus a good representation of host’s experience. The longer the period, the more experience the host can gain to cater to the users
<br>
**FTE 2:** superhost indicator variable from listings

## **FTE 1:**
First - last review, the duration which is a good indication of how long the particular listing has been hosting guests thus a good representation of host’s experience. The longer the period, the more experience the host can gain to cater to the users

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_listings[['host_since', 'first_review', 'last_review', 'id']], how = 'left', left_on = 'listing_id', right_on = 'id')
df_stay_combined = df_stay_combined.drop(columns = ['id'])

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,host_since,first_review,last_review
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,98.0,10.0,10.0,10.0,10.0,10.0,10.0,2008-09-07,2015-12-04,2018-10-19
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,95.0,9.0,9.0,10.0,10.0,10.0,9.0,2008-09-09,2009-11-21,2019-01-02
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,97.0,10.0,10.0,10.0,10.0,10.0,10.0,2008-11-09,2010-01-04,2018-12-07
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,90.0,10.0,9.0,10.0,10.0,10.0,9.0,2008-12-07,2014-09-30,2019-03-03
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,88.0,10.0,9.0,10.0,10.0,9.0,9.0,2009-02-02,2009-04-20,2018-12-02

In [0]:
# formatting date columns
df_stay_combined['host_since'] = df_stay_combined.apply(lambda x: datetime.strptime(x['host_since'], '%Y-%m-%d'), axis = 1)
df_stay_combined['first_review'] = df_stay_combined.apply(lambda x: datetime.strptime(x['first_review'], '%Y-%m-%d'), axis = 1)
df_stay_combined['last_review'] = df_stay_combined.apply(lambda x: datetime.strptime(x['last_review'], '%Y-%m-%d'), axis = 1)

In [0]:
def cal_month_diff(date1, date2):
  r = relativedelta.relativedelta(date1, date2)
  total_months = abs(r.years)*12 + abs(r.months)
  
  return total_months

In [0]:
# calculating month diff
date_scrape = datetime.strptime('2019-03-07', '%Y-%m-%d')
df_stay_combined['no_months_host'] = df_stay_combined.apply(lambda x:cal_month_diff(date_scrape, x['host_since']), axis = 1)
df_stay_combined['review_diff'] = df_stay_combined.apply(lambda x:cal_month_diff(x['first_review'], x['last_review']), axis = 1)
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,host_since,first_review,last_review,no_months_host,review_diff
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,10.0,10.0,10.0,10.0,10.0,2008-09-07,2015-12-04,2018-10-19,126,34
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,9.0,10.0,10.0,10.0,9.0,2008-09-09,2009-11-21,2019-01-02,125,109
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,10.0,10.0,10.0,10.0,10.0,2008-11-09,2010-01-04,2018-12-07,123,107
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,9.0,10.0,10.0,10.0,9.0,2008-12-07,2014-09-30,2019-03-03,123,53
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,9.0,10.0,10.0,9.0,9.0,2009-02-02,2009-04-20,2018-12-02,121,115

## FTE 2: 
superhost indicator variable from listings

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_listings[['id', 'host_is_superhost']], how = 'left', left_on = 'listing_id', right_on = 'id')
df_stay_combined = df_stay_combined.drop(columns = ['id'])

In [0]:
df_stay_combined['host_is_superhost'] = df_stay_combined['host_is_superhost'].replace('f',0)
df_stay_combined['host_is_superhost'] = df_stay_combined['host_is_superhost'].replace('t',1)

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,host_since,first_review,last_review,no_months_host,review_diff,host_is_superhost
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,10.0,10.0,10.0,10.0,2008-09-07,2015-12-04,2018-10-19,126,34,0
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,10.0,10.0,10.0,9.0,2008-09-09,2009-11-21,2019-01-02,125,109,0
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,10.0,10.0,10.0,10.0,2008-11-09,2010-01-04,2018-12-07,123,107,0
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,10.0,10.0,10.0,9.0,2008-12-07,2014-09-30,2019-03-03,123,53,0
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,10.0,10.0,9.0,9.0,2009-02-02,2009-04-20,2018-12-02,121,115,0

In [0]:
df_stay_combined['host_is_superhost'][0]

0

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,host_since,first_review,last_review,no_months_host,review_diff,host_is_superhost
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,10.0,10.0,10.0,10.0,2008-09-07,2015-12-04,2018-10-19,126,34,0
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,10.0,10.0,10.0,9.0,2008-09-09,2009-11-21,2019-01-02,125,109,0
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,10.0,10.0,10.0,10.0,2008-11-09,2010-01-04,2018-12-07,123,107,0
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,10.0,10.0,10.0,9.0,2008-12-07,2014-09-30,2019-03-03,123,53,0
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,10.0,10.0,9.0,9.0,2009-02-02,2009-04-20,2018-12-02,121,115,0

# Price (already in the df)

# Details of Descriptions
**FTE 1:** Count number of words in the description

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_listings[['description', 'id']], how = 'left', left_on = 'listing_id', right_on = 'id')
df_stay_combined = df_stay_combined.drop(columns = ['id'])

In [0]:
df_stay_combined['description'] = df_stay_combined['description'].replace(np.nan, '')
df_stay_combined['no_words_description'] = df_stay_combined.apply(lambda x: len(x['description'].split()), axis = 1)
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,review_scores_location,review_scores_value,host_since,first_review,last_review,no_months_host,review_diff,host_is_superhost,description,no_words_description
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,10.0,10.0,2008-09-07,2015-12-04,2018-10-19,126,34,0,Renovated apt home in elevator building. Spaci...,66
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,10.0,9.0,2008-09-09,2009-11-21,2019-01-02,125,109,0,"Find your romantic getaway to this beautiful, ...",158
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,10.0,10.0,2008-11-09,2010-01-04,2018-12-07,123,107,0,"This is a spacious, clean, furnished master be...",172
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,10.0,9.0,2008-12-07,2014-09-30,2019-03-03,123,53,0,Urban retreat: enjoy 500 s.f. floor in 1899 br...,174
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,9.0,9.0,2009-02-02,2009-04-20,2018-12-02,121,115,0,My large 1 bedroom apartment is true New York ...,182

In [0]:
# df_stay_combined.to_csv('./drive/My Drive/BT4211/Project/Data/merged_df_20190419.csv')

# Image Properties
**FTE 1:** resolution for the image
<br>
**FTE 2:** brightness for the image

In [0]:
def getImage(url):
    response = requests.get(url, stream=True)
    with open('img.png', 'wb') as out_file:
       shutil.copyfileobj(response.raw, out_file)
    del response 


def getBrightness():
    # opens image in current working directory, converts to greyscale, and pulls a float value for brightness
    img_src = Image.open('img.png').convert('L')
    stat = ImageStat.Stat(img_src)
    brightness = stat.mean[0]
    return brightness

def CalImgBrightness(url):
  getImage(url)
  result = getBrightness()
  
  return result

# get width and height
def get_image_size(url):
    data = requests.get(url).content
    im = Image.open(BytesIO(data))    
    return im.size

In [0]:
# The code takes a long time to run, the result is run and saved in csv

# df_panel_uniqueid = pd.DataFrame({'listing_id': df_stay_combined['listing_id'].unique()})
# df_panel_uniqueid = pd.merge(df_panel_uniqueid, df_listings[['id', 'picture_url']], left_on = 'listing_id', right_on = 'id', how = 'left')

# df_panel_uniqueid['ImgBrightness'] = df_panel_uniqueid.apply(lambda x: CalImgBrightness(x['picture_url']), axis = 1)
# df_panel_uniqueid['ImgSize'] = df_panel_uniqueid.apply(lambda x:get_image_size(x['picture_url']), axis = 1)
# df_panel_uniqueid.to_csv('./drive/My Drive/BT4211/Project/Data/uniquelistings_with_image.csv')

In [0]:
df_uniqueid_img = pd.read_csv('./drive/My Drive/BT4211/Project/Data/uniquelistings_with_image.csv')
df_uniqueid_img.head()

,Unnamed: 0,listing_id,id,picture_url,ImgBrightness,ImgSize
0,0,2539.0,2539,https://a0.muscache.com/im/pictures/3949d073-a...,114.691543,"(360, 426)"
1,1,2595.0,2595,https://a0.muscache.com/im/pictures/f028bdf9-e...,118.255949,"(639, 426)"
2,2,3330.0,3330,https://a0.muscache.com/im/pictures/41842659/5...,151.320535,"(639, 426)"
3,3,3831.0,3831,https://a0.muscache.com/im/pictures/e49999c2-9...,75.710988,"(639, 426)"
4,4,5099.0,5099,https://a0.muscache.com/im/pictures/0790b1a5-8...,123.321383,"(353, 426)"

In [0]:
def get_width(x):
  content_list = x[1:len(x)-1].split(',')
  return int(content_list[0])

def get_height(x):
  content_list = x[1:len(x)-1].split(',')
  return int(content_list[1])

In [0]:
df_uniqueid_img['ImgWidth'] = df_uniqueid_img.apply(lambda x: get_width(x['ImgSize']), axis = 1)
df_uniqueid_img['ImgHeight'] = df_uniqueid_img.apply(lambda x: get_height(x['ImgSize']), axis = 1)

In [0]:
df_stay_combined = pd.merge(df_stay_combined, df_uniqueid_img[['listing_id','ImgBrightness', 'ImgWidth', 'ImgHeight']], on = 'listing_id', how = 'left')

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,first_review,last_review,no_months_host,review_diff,host_is_superhost,description,no_words_description,ImgBrightness,ImgWidth,ImgHeight
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,2015-12-04,2018-10-19,126,34,0,Renovated apt home in elevator building. Spaci...,66,114.691543,360,426
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,2009-11-21,2019-01-02,125,109,0,"Find your romantic getaway to this beautiful, ...",158,118.255949,639,426
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,2010-01-04,2018-12-07,123,107,0,"This is a spacious, clean, furnished master be...",172,151.320535,639,426
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,2014-09-30,2019-03-03,123,53,0,Urban retreat: enjoy 500 s.f. floor in 1899 br...,174,75.710988,639,426
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,2009-04-20,2018-12-02,121,115,0,My large 1 bedroom apartment is true New York ...,182,123.321383,353,426

# Reviews vs Description
**FTE 1:** Similarity scores for reviews and descriptions based on word type

**Refer to separate notebook for code, analysis and wordclouds*

In [0]:
sim_score = pd.read_csv("./drive/My Drive/BT4211/Project/Data/similarity_scores_final.csv")
sim_score = sim_score.drop_duplicates(subset = ['listing_id'])
df_stay_combined = pd.merge(df_stay_combined, sim_score[['noun_sim', 'adj_sim', 'verb_sim', 'listing_id']], how = 'left', left_on = 'listing_id', right_on = 'listing_id')

In [0]:
df_stay_combined.head()

,year,listing_id,total_no_reviews,price,total_nights,occupancy_rate,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,...,review_diff,host_is_superhost,description,no_words_description,ImgBrightness,ImgWidth,ImgHeight,noun_sim,adj_sim,verb_sim
0,2016.0,2539.0,2.0,149.0,25.6,0.070137,Kensington,Brooklyn,40.64749,-73.97237,...,34,0,Renovated apt home in elevator building. Spaci...,66,114.691543,360,426,0.073514,0.000000,0.000000
1,2016.0,2595.0,1.0,225.0,12.8,0.035068,Midtown,Manhattan,40.75362,-73.98377,...,109,0,"Find your romantic getaway to this beautiful, ...",158,118.255949,639,426,0.007572,0.025456,0.025108
2,2016.0,3330.0,5.0,70.0,64.0,0.175342,Williamsburg,Brooklyn,40.70856,-73.94236,...,107,0,"This is a spacious, clean, furnished master be...",172,151.320535,639,426,0.106706,0.241911,0.178832
3,2016.0,3831.0,69.0,89.0,365.0,1.000000,Clinton Hill,Brooklyn,40.68514,-73.95976,...,53,0,Urban retreat: enjoy 500 s.f. floor in 1899 br...,174,75.710988,639,426,0.069664,0.063262,0.225621
4,2016.0,5099.0,7.0,185.0,89.6,0.245479,Murray Hill,Manhattan,40.74767,-73.97500,...,115,0,My large 1 bedroom apartment is true New York ...,182,123.321383,353,426,0.072860,0.033315,0.347806

# Export DATA

In [0]:
df_stay_combined = df_stay_combined.drop_duplicates(subset = ['year', 'listing_id'])

In [0]:
df_stay_combined.to_csv("./drive/My Drive/BT4211/Project/Data/merged_df_final.csv")